<!DOCTYPE html>
<html>
<head>
  <title>LinkApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <%if alert && alert.length > 0 then %>
      <p id="alert" class="alert"><%=alert%></p>
    <% end %>
    <%if notice && notice.size > 0 then %>
      <p id="notice" class="notice"><%=notice%></p>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
